node_modules
.DS_Store
dist
dist-ssr
dist.zip
dist.tar
dist.war
.nitro
.output
*-dist.zip
*-dist.tar
*-dist.war
coverage
*.local
**/.vitepress/cache
.cache
.turbo
.temp
dev-dist
.stylelintcache
yarn.lock
package-lock.json
.VSCodeCounter
**/backend-mock/data

# local env files
.env.local
.env.*.local
.eslintcache

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.config.mts.*
vite.config.mjs.*
vite.config.js.*
vite.config.ts.*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history
**/.gitkeep
vue/**/.github
vue/apps/backend-mock
vue/.github
vue/docs
vue/.vscode
vue/.gitignore
vue/.gitconfig
vue/.gitkeep
vue/.DS_Store
vue/node_modules
vue/dist
vue/dist-ssr
vue/coverage
vue/dev-dist
vue/dev-dist-ssr
vue/dev-dist.zip
vue/dev-dist.tar
vue/dev-dist.war
vue/.changeset
server/.gitattributes
server/.gitignore
server/.idea
server/.vscode
server/.DS_Store
server/bin
server/manifest
server/output
server/temp
server/temp.yaml
server/bin  

