// Package genrouter
// @Link  https://github.com/xiujie/xiujie-admin
// @Copyright  Copyright (c) @{NowYear} XiuJieZhiLian CLI
// @Author  Lxj <li@xiujie.cn>
// @License  https://github.com/xiujie/xiujie-admin/blob/master/LICENSE
// @AutoGenerate Version @{.hgVersion}
//
package genrouter

import "@{.importController}"

func init() {
	LoginRequiredRouter = append(LoginRequiredRouter, @{.templateGroup}.@{.varName}) // @{.tableComment}
}
