// Package genrouter
// @Link  https://github.com/xiujiecn/xiu-admin
// @Copyright  Copyright (c) @{NowYear} XiuAdmin CLI
// @Author  Lxj <li@xiujie.cn>
// @License  https://github.com/xiujiecn/xiu-admin/blob/master/LICENSE
// @AutoGenerate Version @{.xiuVersion}
//
package genrouter

import "@{.importController}"

func init() {
	LoginRequiredRouter = append(LoginRequiredRouter, @{.templateGroup}.@{.varName}) // @{.tableComment}
}
